extends base.pug 

block content 
    article.main-article
        .container.container--narrow 
            h1.article-title= aboutBook.title 

            //- figure.main-article__figure
                img(src=coverImage, alt=coverImageAlt)
                figcaption= coverImageAlt 

            p= url

            h3 About Book (5)
            p= aboutBook.title
            p= aboutBook.slug
            p= aboutBook.permalink
            p= aboutBook.author
            p= aboutBook.coverImage
            p= aboutBook.coverImageAlt
            
            h3 Book Sluts Info (9/10)
            p= bookslutsInfo.bookNumber
            p= bookslutsInfo.rating
            p= bookslutsInfo.dateRead
            p= bookslutsInfo.dateReadAlt
            p= bookslutsInfo.bookslutName
            p= bookslutsInfo.bookslutImage
            p= bookslutsInfo.colourPrimary
            p= bookslutsInfo.colourSecondary

            ul 
                for tag in bookslutsInfo.tags
                    li=tag 

            
            hr
            h3 Book Content (3)
            //- p= summary
            ul 
                for item in bookContent.summary
                    li= item
            hr
            
            //- p= highlights
            ul 
                for item in bookContent.highlights
                    li= item
            hr
            p= bookContent.btsImage
            
            
            h3 Next Book (4)
            p= nextBook.nextBookName
            p= nextBook.nextBookSlug
            p= nextBook.nextBookCover
            p= nextBook.nextBookColour
            
            //- .post-body 
                //- #{content}
        