---
pagination:
  data: testdata
  size: 1
testdata:
 - item1
 - item2
 - item3
 - item4
---

extends base.pug 

block content 
    main.bookTemplate(data-scroll-container="true", style={
       '--colour-book-primary': bookslutsInfo.colourPrimary,'--colour-book-secondary': bookslutsInfo.colourSecondary,'--colour--nextBook': nextBook.nextBookColour
    })
        //- p(style="color: var(--colour-book-primary);") Primary
        //- p(style="color: var(--colour-book-secondary);") Secondary
        //- p(style="color: var(--colour--nextBook);") Next Book
        
        //- Cover
        section.bookTemplate-section.coverPage(data-scroll-section="true")
            .coverPage-col.bookCover
                .coverPage-bg
                .shadow
                img.bookCover-img(data-flip-id="bookCover" alt=aboutBook.coverImageAlt src=aboutBook.coverImage data-scroll-speed="1.5" data-scroll="true")

            .coverPage-col.bookDetail(data-scroll-speed="1.0" data-scroll="true")
                div
                    p.bookDetail-author= aboutBook.author
                    h1.bookDetail-title= aboutBook.title
                    .bookDetail-recommendation
                        img(alt=bookslutsInfo.bookslutName src=bookslutsInfo.bookslutImage)
                        .recommendedBy
                            p Selected By
                            p.recommendedBy-bookslut= bookslutsInfo.bookslutName
                .bookDetail-stats
                    .bookDetail-stat
                        .bookDetail-stat--inner
                            .bookDetail-label Number
                        .bookDetail-stat--inner
                            .bookDetail-value Book #{bookslutsInfo.bookNumber}
                    .bookDetail-stat
                        .bookDetail-stat--inner
                            .bookDetail-label Book Rating
                        .bookDetail-stat--inner
                            .bookDetail-value ★#{bookslutsInfo.rating}/5 Stars
                    .bookDetail-stat
                        .bookDetail-stat--inner
                            .bookDetail-label Month Read
                        .bookDetail-stat--inner
                            .bookDetail-value= bookslutsInfo.dateReadAlt

        //- Summary
        section.bookTemplate-section.summary(data-scroll-section="true")
            h2(data-scroll="true", data-scroll-speed="1.2") Summary
                
            .summary-textContainer(data-scroll="true", data-scroll-speed="1.2")
                for para in bookContent.summary 
                    p.summary-text= para

        //- Highlights
        section.bookTemplate-section.highlights(data-scroll-section="true")
            h2 Highlights

            .highlight.horizontal(data-scroll="true", data-scroll-speed="1.2")
                for highlight in bookContent.highlights 
                    //- p highlight
                    .highlight-item
                        p.quote= highlight
                        p.annotation #{aboutBook.title}, #{aboutBook.author}

        //- Behind the Scenes
        unless !bookContent.btsImage 
            section.bookTemplate-section.bts(data-scroll-section="true")
                img(src=bookContent.btsImage, alt="Behind the scenes, when we were reading the book", data-scroll data-scroll-speed="1.2")


        //- Next Book
        section.bookTemplate-section.nextBook(data-scroll-section="true")
           .nextBook-bg
            h2 Next Book
            a(href="/books/"+nextBook.nextBookSlug).next
                span= nextBook.name
                img(src=nextBook.nextBookCover, alt=nextBook.nextBookCover + " Book Cover")


    ol
        for item in pagination.items
            li= item

    if pagination.href.next
        a(href=pagination.href.next) Next Page: #{pagination.page.next}
    else 
        a(href=pagination.href.next) First Page: #{pagination.page.first}

        