head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=0.")

    link(rel="icon", href="/assets/images/brand/booksluts--favicon.png", type="image/png", title="Icon")
    

    //- Primary Meta Tags -->
    title BookSluts | #{title}
    //- meta(content="Book Sluts | Homepage" name="title")
    meta(content=title name="title")
    meta(content=siteSettings.description name="description")
    
    //- Open Graph / Facebook -->
    meta(content="website" property="og:type")
    meta(content="https://booksluts.com" property="og:url")
    meta(content="Book Sluts | Homepage" property="og:title")
    meta(content=siteSettings.description property="og:description")
    meta(content="/assets/images/brand/OG-Home.png" property="og:image")

    //- Open Graph / Twitter -->
    meta(content="summary_large_image" property="twitter:card")
    meta(content="https://booksluts.com/" property="twitter:url")
    meta(content="Book Sluts | Homepage" property="twitter:title")
    meta(content=siteSettings.description property="twitter:description")
    meta(content="/assets/images/brand/OG-Home.png" property="twitter:image")
    
    //- Styles
    link(crossorigin="anonymous" type="font/otf" as="font" href="/assets/fonts/FormulaCondensed-Bold.otf" rel="preload")
    link(crossorigin="anonymous" type="font/woff2" as="font" href="/assets/fonts/FormulaCondensed-Bold.woff2" rel="preload")
    link(rel="stylesheet", href="/bundle/assets/styles/index.css")
    
    //- block scripts
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

    //- GTM
    script(src="https://www.googletagmanager.com/gtag/js?id=G-WECNERE8K8" type="module" async="")
    script(type="module").
      window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-WECNERE8K8');

    //- PostHog
    script(type="module").
      !function(t,e){var o,n,p,r;e.__SV||(window.posthog=e,e._i=[],e.init=function(i,s,a){function g(t,e){var o=e.split(".");2==o.length&&(t=t[o[0]],e=o[1]),t[e]=function(){t.push([e].concat(Array.prototype.slice.call(arguments,0)))}}(p=t.createElement("script")).type="text/javascript",p.async=!0,p.src=s.api_host+"/static/array.js",(r=t.getElementsByTagName("script")[0]).parentNode.insertBefore(p,r);var u=e;for(void 0!==a?u=e[a]=[]:a="posthog",u.people=u.people||[],u.toString=function(t){var e="posthog";return"posthog"!==a&&(e+="."+a),t||(e+=" (stub)"),e},u.people.toString=function(){return u.toString(1)+".people (stub)"},o="capture identify alias people.set people.set_once set_config register register_once unregister opt_out_capturing has_opted_out_capturing opt_in_capturing reset isFeatureEnabled onFeatureFlags getFeatureFlag getFeatureFlagPayload reloadFeatureFlags group updateEarlyAccessFeatureEnrollment getEarlyAccessFeatures getActiveMatchingSurveys getSurveys onSessionId".split(" "),n=0;n<o.length;n++)g(u,o[n]);e._i.push([i,s,a])},e.__SV=1)}(document,window.posthog||[]);
      posthog.init('phc_rpqat1GW4U4miRskEyMNfsonsKDy3xAw8Mya96UNyhg',{api_host:'https://app.posthog.com'})