extends base-book.pug 

block prepend head
    title BookSluts | #{bookTitle}

block content 
    main.bookTemplate(data-scroll-container="true", style={
       '--colour-book-primary': bookslutsInfo.colourPrimary,'--colour-book-secondary': bookslutsInfo.colourSecondary,'--colour--nextBook': nextBook.nextBookColour
    })
        //- p(style="color: var(--colour-book-primary);") Primary
        //- p(style="color: var(--colour-book-secondary);") Secondary
        //- p(style="color: var(--colour--nextBook);") Next Book
        
        //- Cover
        section.bookTemplate-section.coverPage(data-scroll-section="true")
            .coverPage-col.bookCover
                .coverPage-bg
                .shadow
                img.bookCover-img(data-flip-id="bookCover", alt=bookTitle + " Book Cover", src=aboutBook.coverImage, data-scroll-speed="1.5", data-scroll="true")

            .coverPage-col.bookDetail(data-scroll-speed="1.0", data-scroll="true")
                div
                    p.bookDetail-author By: #{aboutBook.author}
                    h1.bookDetail-title= bookTitle
                    .bookDetail-recommendation
                        if bookslutsInfo.selectedBy
                            for slut in collections.bookslut 
                                if slut.data.name === bookslutsInfo.selectedBy
                                    img(alt=slut.data.name, src=slut.data.image)
                                    .recommendedBy
                                        p Selected By
                                            p.recommendedBy-bookslut= slut.data.name
                                        //- p.recommendedBy-bookslut= bookslutsInfo.bookslutName
                .bookDetail-stats
                    .bookDetail-stat
                        .bookDetail-stat--inner
                            .bookDetail-label Number
                        .bookDetail-stat--inner
                            //- .bookDetail-value Book #{bookslutsInfo.bookNumber}
                            if bookslutsInfo.bookNumber <= 9
                                .bookDetail-value Book 0#{bookslutsInfo.bookNumber}
                            else 
                                .bookDetail-value Book #{bookslutsInfo.bookNumber}

                    .bookDetail-stat
                        .bookDetail-stat--inner
                            .bookDetail-label Book Rating
                        .bookDetail-stat--inner
                            .bookDetail-value ★#{bookslutsInfo.rating}/5 Stars
                    .bookDetail-stat
                        .bookDetail-stat--inner
                            .bookDetail-label Month Read
                        .bookDetail-stat--inner
                            .bookDetail-value= bookslutsInfo.dateReadAlt

        //- Summary
        section.bookTemplate-section.summary(data-scroll-section="true")
            h2(data-scroll="true", data-scroll-speed="1.2") Summary
                
            if bookContent.summary 
                .summary-textContainer(data-scroll="true", data-scroll-speed="1.2")
                    for item in bookContent.summary 
                        p.summary-text= item.paragraph

        //- Highlights
        section.bookTemplate-section.highlights(data-scroll-section="true")
            h2 Highlights

            if bookContent.highlights
                .highlight(data-scroll="true", data-scroll-speed="1.2")
                    for item in bookContent.highlights 
                        //- p highlight
                        .highlight-item
                            p.quote= item.highlight
                            p.annotation #{aboutBook.title}, #{aboutBook.author}

        //- Behind the Scenes
        if bookContent.btsImage 
            section.bookTemplate-section.bts(data-scroll-section="true")
                img(src=bookContent.btsImage, alt="Behind the scenes, when we were reading the book", data-scroll data-scroll-speed="1.2")




        //- Next Book
        if nextBook
            for book in collections.book 
                if book.data.bookTitle === nextBook
                    section.bookTemplate-section.nextBook(data-scroll-section="true")
                        .nextBook-bg(style={'--colour--nextBook': book.data.bookslutsInfo.colourPrimary})
                        h2 Next Book
                        a(href=book.url).next
                            span= book.data.bookTitle
                            img(src=book.data.aboutBook.coverImage, alt=book.data.bookTitle + " Book Cover").nextBook--img
        //- section.bookTemplate-section.nextBook(data-scroll-section="true")
        //-     .nextBook-bg(style={'--colour--nextBook': nextBook.nextBookColour})
        //-     h2 Next Book
        //-     a(href="/books/"+nextBook.nextBookSlug).next
        //-         span= nextBook.nextBookName
        //-         img(src=nextBook.nextBookCover, alt=nextBook.nextBookTitle + " Book Cover")




    //- ol
    //-     for item in pagination.items
    //-         li= item

    //- if pagination.href.next
    //-     a(href=pagination.href.next) Next Page: #{pagination.page.next}
    //- else 
    //-     a(href=pagination.href.first) First Page: #{pagination.page.first}

        

    //- {% if nextPost %}Next Blog Post: <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a>{% endif %}
    //- if nextPost 
    //-     p Next Book: 
        //- a(href={nextPost.url})= nextPost.data.aboutBook.title
